*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
::-webkit-scrollbar {
    width: 2vh;
}

::-webkit-scrollbar-track {
    background-color: #adccfa;    
}

::-webkit-scrollbar-thumb {
    background-color: #8bb6f8;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 164, 204);
  }

body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../images/blue-white-low-poly-triangle-shapes-background-vector.jpg);
    background-position: center;
    background-size:s cover;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.navbar ul li{
    font-size: 20px;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #619df7;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background:#02a5ce;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    text-align: center;
    transform: translateY(30%);
}

.content h1 {
    margin: 0;
    color: #008ba3;
    font-size: 70px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
    background-color: #02a5ce;
}

.contentprojects {
    background-image: url(../images/images.png);
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

iframe.firstwebsite {
    border-radius: 30px;
    width: 45vw;
    height: 40vw;
    margin: 25px;
}

iframe.indexsite {
    border-radius: 30px;
    width: 45vw;
    height: 40vw;
    margin: 25px;
}